/* DISEÑO CSS PAGINA WEB TALLER*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2C2D2E;
}

/* Diseño responsive  - DESKTOP*/




@media only screen and (min-width: 961px) { 

    body {
        background-color: #2C2D2E;
    }


/* ENCABEZADO HEADER */

#logotaller {
    width: 15%;
    padding-left: 25px;
}


header {
    
    position: sticky;
    top: 0;
    display: flex;
    background-color: #2C2D2E;
    

    
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid red;
    padding: 10px;
    z-index: 1000;

}




header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;   
    align-items: center; 
}



header a {
    padding-right: 20px;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    margin: 10px;
    font-weight: 550;
    align-items: center;
   
}



/* SECTION BOOSTRAP DE IMAGENES  */





/* SECTION - Quienes somos  */



.quienes-container { 
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quienes {
    margin-right: ;
    text-align: center;
    
}

.quienes h2 {
    color: brown;
    font-size: 25px;
    margin: 25px;
    


}

.quienes p {
    color: dimgray;
    font-family: 'Nunito', sans-serif;
    margin: 25px;
    

}

.videotaller {
    width: 40%;
    padding: 5;
    
    margin-left: 30px; 
}




/* SECTION - UBICACION  */

.ubicacion {
    background-color: #2C2D2E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}



.mapa {
    margin-right: 20px; /* Ajusta el margen entre el mapa y el título según tu preferencia */
}

.tituloubicacion {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 25px;
}



/* REDES  */

.redes {
    background-color: red;
    height: 120px;
    padding: 2px;
    
    

}

.textoredes {
    margin: 25px;
    align-items: center;

}

.textoredes h5 {
    color: white;
    font-size: 25px;
    text-align: center;
}

.redeslogos {
    text-align: center;
    
}

.redeslogos a {
    
    margin: 30px;
}




/* PAGINAS NOSOTROS */

/* SECTION NOSOTROS IMAGEN */

.nuestro-personal {
    display: flex;
    justify-content: center;
    
    padding-top: 25px;
    color: white;
}


.tarjetas-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
     
  }
  
  .tarjeta {
    width: calc(25% - 20px); 
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    background-color: white;
  }
  
  .tarjeta img {
    width: 100%;
    border-radius: 5px;
  }
  
  .tarjeta h2 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .tarjeta p {
    margin-top: 5px;
    font-size: 14px;
  }





/* PAGINAS SERVICIOS */

/* SECTION SERVICIOS */




.servicios-container {
    
    margin: 25px 25px 25px 25px; 
    padding-top: 5px;
    padding-bottom: 5px;

}


.servicios-container .row {
    margin: 25px;
    
}

.titulo-servicios {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    margin-top: 5px;
    
}

.btn-primary {
    background-color: red;
    border: #2C2D2E;

}









/* Diseño responsive  - TABLET */



@media only screen and (min-width: 501px) and (max-width: 960px) {

body {
    background-color: red;
}


}










/* Diseño responsive  - MOBILE */


@media only screen and (min-width: 320px) and (max-width: 500px) {

    body {
        background-color: blue;
    }


}