
//variables 
$color-principal: white;



// pagina nosotros 

main {
    .section-personal {


        h1 {
            display: flex;
            justify-content: center;
            padding-top: 25px;
            color: $color-principal;

        }

        .tarjetas-container {
            display: flex;
            justify-content: space-around;
            margin: 20px;
            flex-wrap: wrap;

            @include tablet {
                flex-direction: column; 

            }

            @include mobile {
                flex-direction: column; 
            }

            div {
                width: calc(25% - 20px); 
                border-radius: 10px;
                padding: 15px;
                margin: 10px;
                text-align: center;
                background-color: $color-principal;

                @include tablet {
                    width: 80%; 
                    
                }

                @include mobile {
                     width: 80%;
                }

            
                img {
                    width: 100%;
                    border-radius: 5px;

                }
                h2 {
                    margin-top: 10px;
                    font-size: 18px;

                }
                p {
                    margin-top: 5px;
                    font-size: 14px;

                }
            }


        }
    }
}